<header class="navbar-cafetal" [class.scrolled]="scrolled()">
  <nav class="navbar-inner">
    <a class="brand" routerLink="/" aria-label="Inicio">
      <img src="/logo.jpg" alt="Cafetal Sobre Piedra" class="brand-logo">
      <span class="brand-name">Cafetal<br>Sobre&nbsp;Piedra</span>
    </a>

    <div class="nav-center">
      <a class="nav-tab" routerLink="/historia" routerLinkActive="active">Historia</a>
      <a class="nav-tab" routerLink="/productos" routerLinkActive="active">Productos</a>
      <a class="nav-tab" routerLink="/distribuidor" routerLinkActive="active">Distribuidores</a>
      <a class="nav-tab" routerLink="/recetas" routerLinkActive="active">Recetas</a>
      <a class="nav-tab" routerLink="/contacto" routerLinkActive="active">Contacto</a>
      @if (authService.estaAutenticado()){
        <a class="nav-tab" (click)="onLogout()">Cerrar sesión</a>
      } @else {
        <a class="nav-tab" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
      }
    </div>

    <button class="hamburger" (click)="toggleMenu()" aria-label="Menú">☰</button>
  </nav>

  @if (menuOpen()) {
    <div class="mobile-menu">
      <a class="mobile-link" routerLink="/historia" routerLinkActive="active" (click)="closeMenu()">Historia</a>
      <a class="mobile-link" routerLink="/productos" routerLinkActive="active" (click)="closeMenu()">Productos</a>
      <a class="mobile-link" routerLink="/distribuidor" routerLinkActive="active" (click)="closeMenu()">Distribuidores</a>
      <a class="mobile-link" routerLink="/recetas" routerLinkActive="active" (click)="closeMenu()">Recetas</a>
      <a class="mobile-link" routerLink="/contacto" routerLinkActive="active" (click)="closeMenu()">Contacto</a>
      @if (authService.estaAutenticado()) {
        <a class="mobile-link"  (click)="onLogout()">Cerrar sesión</a>
      } @else {
        <a class="mobile-link" routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Iniciar sesión</a>
      }
    </div>
  }
</header>